//recipes_show

.recipe-details {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  .section-title {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
  }
  
  .recipe-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .recipe-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .recipe-details-section {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .recipe-cooking-method,
  .recipe-cooking-time,
  .recipe-country {
    font-size: 16px;
    color: #555;
  }
  
  .comment-form-container {
    margin-top: 20px;
    
    .form {
      .textarea {
        margin-bottom: 10px;
        
        .form-label {
          font-size: 16px;
          color: #333;
        }
        
        .form-control {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
      
      .button-group {
        text-align: right;
        
        .btn {
          padding: 10px 20px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
  
  .recipe-image {
    margin-top: 20px;
    
    img {
      max-width: 100%;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

