<div class="lists">
  <div class="lists_channels">
    <h2 class="lists_header"></h2>
    <ul class="channel_list">
      <%= sidebar_link_item('国', countries_path) %>
      <%= sidebar_link_item('レシピ', recipes_path) %>
      <%= sidebar_link_item('クリエーター', creators_path) %>
    </ul>
  </div>
</div>